* {
    background-color: #202020;
    color: #BBBBBB;
    border-color: #BBBBBB;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
button {
    background-color: #171717;
    color: #ffffff;
}
button:enabled:hover {
    border: 2px solid #707070;
}
button:enabled:active {
    background-color: #353535;
}
button:disabled {
    color: #505050;
}