<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload</title>
    <script src="./static/download.js"></script>
    <link href="../static/download.css" rel="stylesheet">
    <style>* {
        margin-top: 5px;
        margin-bottom: 5px;
    }</style>
</head>
<body>
    <span>filename: </span><input type="text" id="filenameInput"><br>
    <span id="rnumLabel">rnum: </span><input type="number" id="rnumInput"><br>
    <input type="button" id="searchBtn" value="Search"><br>
    <input type="button" value="save" id="saveBtn" onclick="saveto()"><br>
    <canvas style="width: 50%; height: 20px; background-color: black" id="progressBar" height="20px" width="102px"></canvas><span id="progressBarValue"> 0%</span><br>
    <span id="ChunksLabel">0/0Ch&nbsp;&nbsp;&nbsp;</span><span id="SizeLabel">0/0KB&nbsp;&nbsp;&nbsp;</span><span id="SpeedLabel">0KB/s</span><br>
    <input type="button" id="startBtn" value="start">
</body>
</html>
<script>
    function saveto() {
        window.navigator.msSaveOrOpenBlob(
            "file text",
            "1.txt")
    }
</script>